                            /*HEADER*/
header {
  background: radial-gradient(circle,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 100, 1) 35%, rgba(110, 212, 200, 1) 80%);
  text-align: center;
  margin: 0 10px;
  padding: 12px 2px;
  font-weight: bold;
  border-radius: 15px;
}

header h1 {
  font-size: 2.5em;
  background: linear-gradient(90deg,rgb(30, 180, 0) 0%, rgb(253, 81, 29) 50%, rgb(252, 69, 69) 60%);
  -webkit-background-clip: text;   
  -webkit-text-fill-color: transparent; 
  background-clip: text;
  color: transparent;
}
/*navegacao*/
nav a {
  position: relative;
  display: inline-block;
  color: white;
  margin: 0 10px;
  padding: 8px 14px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  background: linear-gradient(90deg,rgba(0, 0, 0, 0) 0%, rgba(253, 29, 29, 0.15) 50%, rgba(0, 0, 0, 0) 100%);
}
.navgation {
  margin: 0 auto;
}
nav a:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  color: #007BFF;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
  position: absolute;
  top: 100%;        /* logo abaixo do item do menu */
  left: 50%;        /* ponto de referência no meio do item */
  transform: translateX(-50%); /* centraliza horizontalmente */
  background-color: rgba(0, 0, 0, 0.75);
  min-width: 0px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}
.dropdown-content.better a {
  background-color: rgba(50, 255, 142, 0.8);
  padding: 8px 12px;
  border-radius: 5px;
  margin: 3px 0;
  text-decoration: none;
  display: block;
}
.dropdown-content.better {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75); 
  color: rgb(29, 54, 5); /* cor do texto */
  padding: 5px 0;
  border-radius: 8px;

  width: max-content; 
}
.dropdown-content a {
  display: block;
  padding: 10px;
  color: #000;
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}
                            /*BODY*/
body {
  font-family: "Segoe UI", sans-serif;
  line-height: 1.6;
  margin: 0;
  background-color: #f7f8fa;
  color: #222;
}

main {
  max-width: 10000px;
  margin: 30px auto;
  padding: 0 20px;
}

/*decoracao*/
section {
  margin-bottom: 40px;
  color:darkblue;
  font-weight: bold;
}

h2 {
  font-family: "Georgia", serif;
  color: darkblue;
  font-weight: normal;
    font-weight: bold;
}

h1 {
  font-family: "Arial", sans-serif;
  color: darkblue;
  font-weight: bold;
  font-size: 16px;
}

div {
  font-family: "Verdana", sans-serif;
  color: black;
  line-height: 1.6;
  font-size: 12px;
  width: 80%;            
  max-width: 80%;          
  margin: 12px;           
  font-weight: 1;
  white-space: pre-wrap;     /* permite quebra automática */
  word-wrap: break-word;     /* quebra palavras longas */
  overflow-wrap: break-word;
}

.title {
  color: black;
  font-weight: bold;
  font-size: 16px;

  margin-top: 20px;
  margin-bottom: 5px;
  /* linha abaixo do título */
  border-bottom: 2px solid black; 
  padding-bottom: 0px;                   
  display: inline-block;                  
}
.imagem {
  width: 400px;    
  height: auto;   
  display: block;
  margin: 10px auto;
}
                            /*FOOTER*/

footer {
  background: white;
  color: black;
  text-align: center;
  padding: 20px 0;
  margin-top: 50px;
}

.linha-gradiente {
  height: 4px;
  background: linear-gradient(90deg, #833ab4, #fd1d1d, #fcb045);
  margin: 20px auto;
  width: 87.6%;
}